{
  "feeds": [
    {
      "url": "https://alerts.ncdr.nat.gov.tw/RssAtomFeed.ashx"
    },
    {
      "url": "http://www.cwb.gov.tw/rss/Data/cwb_warning.xml"
    },
    {
      "url": "http://mspadapter2.emic.gov.tw/capRss/cap.rss"
    },
    {
      "url": "http://www.gdacs.org/xml/rss.xml"
    }
  ]
}
